body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.head {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 1px;
    background-color: #656af7;
    height: 50px;
    font-size: 17px;
    z-index: 5;
}

.nav {
    position: fixed;
    top: 50px;
    background-color: #eff0ff;
    width: 200px;
    height: 100vh;
    padding-top: 20px;
}

.content-wrapper {
    margin-left: 220px;
    margin-top: 70px;
}

a {
    text-decoration: none;
    color: black;
    font-family: verdana;
}

.txthead {
    padding-top: 10px;
    float: left;
    text-align: center;
    padding-left: 10px;
    color: white; 
    font-family: Verdana;
}

.licustom {
    height: 40px;
    list-style-type: none;
}

.box {
    border-top-color: #3c8dbc;
    position: relative;
    border-radius: 3px;
    background: #eff0ff;
    border-top: 3px solid #3c8dbc;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-body {
    padding: 10px;
}